<div *ngIf="currentProfile" class="card" style="width: 18rem;">
  <img src="{{currentProfile.imgUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{currentProfile.firstName}} {{currentProfile.middleName}} {{currentProfile.lastName}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{currentProfile.placeOfBirth}}</li>
    <li class="list-group-item">{{currentProfile.age}}</li>
    <li class="list-group-item">{{currentProfile.currentTeam}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>